{% extends "base.html" %}

{% block title %}
    Edit Item
{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ 'Edit Item' if form.title.data else 'New Item' }}</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.title.label(class="form-label") }}
            {{ form.title(class="form-control", placeholder="Enter title") }}
        </div>
        <div class="mb-3">
            {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control", placeholder="Enter description") }}
        </div>
        <div class="mb-3">
            {{ form.images.label(class="form-label") }}
            {{ form.images(class="form-control", type="file") }}
        </div>
        <button type="submit" class="btn btn-primary">{{ 'Update Item' if form.title.data else 'Create Item' }}</button>
    </form>
{% endblock %}
