<footer class="footer mt-auto py-5 bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>Contact Us</h5>
                <p>Email: info@example.com</p>
                <p>Phone: +1 (123) 456-7890</p>
                <p>Address: 123 Main Street, City, Country</p>
            </div>
            <div class="col-md-6">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Facebook</a></li>
                    <li><a href="#" class="text-light">Twitter</a></li>
                    <li><a href="#" class="text-light">Instagram</a></li>
                    <li><a href="#" class="text-light">LinkedIn</a></li>
                    <li><a href="https://www.tbceducation.ge/courses" class="text-light">TBC</li>
                     <img src="https://asset.brandfetch.io/idFlSwBvkg/id0m1BAQOE.jpeg?updated=1716722322665" class="img-fluid" >
                </ul>
            </div>
        </div>
        <hr class="bg-light">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 Your Website Name. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
